// nullstyle
@import "nullstyle";

// font-family: 'Alata', sans-serif;
// font-family: 'Josefin Sans', sans-serif;

// vars

// colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

// fonts
$ff-light: 'Josefin Sans', sans-serif;
$ff-regular: 'Alata', sans-serif;
$fz: 15px;

body._lock {
    overflow: hidden;
}

h2 {
    font-family: $ff-light;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    background: $white;
}

.header {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    &__container {
        height: 100px;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }
    &__logo {
        position: relative;
        z-index: 5;
    }
}

.menu__link {
    text-decoration: none;
    font-size: $fz;
    font-family: $ff-regular;
    color: $white;
}

@media (min-width: 768px) {
    .menu__list {
        display: flex;
        & li {
            margin-left: 50px;
        }
    }
}

@media (max-width: 767px) {
    .header__container {
        height: 50px;
    }
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 25px;
        height: 15px;
        cursor: pointer;
        &::before,
        &::after {
            content: "";
        }

        & span {
            top: 50%;
            transform: translate(0px, -50%);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        & span,
        &::before,
        &::after {
            left: 0;
            position: absolute;
            height: 10%;
            width: 100%;
            transition: all 0.3s ease 0s;
            background: #fff;
            border-radius: 5px;
        }

        
        &._active span {
            transform: scale(0);
        }

        &._active::before {
            top: 50%;
            transform: rotate(45deg) translate(0px, -50%);
        }

        &._active::after {
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }
    }

    .menu__body {
        padding-top: 50px;
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background:$black;
        transition: all 0.3s ease 0s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &._active {
            right: 0;
        }
        & li {
            margin-bottom: 5px;
            margin-left: 15px;
        }
    }

    .menu__link {
        font-family: $ff-light;
        text-transform: uppercase;
        font-weight: 100;
    }
}

.first__screen {
    width: 100%;
    min-height: 100vh;
    background: url("../img/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 1100px) 1fr;
    align-items: center;
    justify-items: start;
    padding: 15px;
    & h1 {
        grid-column: 2 / 3;
        text-align: left;
        padding: 30px 40px;
        font-family: $ff-light;
        color: $white;
        border: 2px solid $white;
    }
}

@media (max-width: 992px) {
    .first__screen {
        & h1 {
            font-size: 20px;
            padding: 10px;
            margin-top: 70px;
        }
    }
}

.interactive {
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 1100px)  1fr;
    align-items: center;
    padding: 0 15px;
    &__items {
        grid-column: 2 / 3;
        display: grid;
        grid-template: 1fr / 1fr 1fr;
        align-items: end;
    }
    &__text {
        background: $white;
        padding: 80px 0 0 80px;
        margin-left: -120px;
        & h2 {
            margin-bottom: 20px;
        }
        & p {
            font-size: $fz;
            font-family: $ff-regular;
            opacity: 0.5;
        }
    }
}

@media (max-width: 1024px) {
    .interactive {
        margin-top: 50px;
        &__items {
            display: block;
        }
        & img {
            width: 100%;
        }
        &__text {
            width: 100%;
            margin: 0 auto;
            padding: 0;
            background: none;
            text-align: center;
            & h2 {
                margin: 20px 0 10px 0;
            }
        }
    }
}

.creations {
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 1100px)  1fr;
    padding: 15px;
    &__items {
        grid-column: 2 / 3;
    }
    &__title {
        order: 1;
        margin-bottom: 60px;
    }
    &__btn {
        order: 2;
        justify-self: end;
        align-self: start;
        padding: 8px 40px 3px 40px;
        text-decoration: none;
        font-family: $ff-light;
        font-size: $fz;
        color: $black;
        border: 2px solid rgba($black, 0.5);
        border-radius: 2px;
        transition: all 0.3s ease 0s;
        &:hover {
            background: $black;
            color: $white;
        } 
    }
    &__imgs {
        order: 3;
    }
    &__img {
        position: relative;
        transition: all 0.3s ease 0s;
        & h3 {
            font-family: $ff-light;
            color: $white;
            position: absolute;
            bottom: 20px;
            left: 30px;
        }
        &:hover {
            filter: grayscale(30%) sepia(30%) opacity(50%);
        }
    }
}

@media (min-width: 1200px) {
    .creations__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .creations__imgs {
        grid-column: span 2;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
    }
}

@media (max-width: 1200px) {
    .creations__items {
        display: grid;
        grid-template: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    .creations__title {
        order: 2;
    }
    .creations__btn {
        justify-self: center;
        order: 3;
        margin-top: 20px
    }
    .creations__imgs {
        order: 2;
        display: block;
    }
    .creations__img {
        margin: 20px 0;
        & img {
            width: 100%;
        }
    }
}